/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body {
	background-color: #FFFEF8;
}

footer {
	background-color: rgb(255, 255, 255);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
header, main {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 40px;
}

header a {
	text-decoration: none;
}

main {
	padding: 0 106px;
}
section {
	margin: 50px 0
}

h1 a {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 a > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding-left: 40px;
	font-size: 16px;
	font-weight: 300;
}
nav li a {
	color: black;
}

li:hover {
	color: #B1663C;
}
nav img {
	height: 19.36px;
	width: 19.36px;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 100px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 85%;
	margin-left: 0;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-right: 20px;
}

.titre {
	display: flex;
	justify-content: center;
}
/*FILTRE*/
.filterCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
	width: 70%;
	margin: auto;
}

.filterChoice {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    white-space: nowrap;
    overflow:inherit;
	font-family: 'Syne';
    width: 35%;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #1D6154;
	color: #1D6154;
    font-size: 16px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

.filterChoice:hover {
    background-color: #1D6154;
	color: #FFFEF8;
    transition: 0.3s;
	cursor: pointer;
}
/*GALLERY ----------*/
.gallery {
	flex: 1;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 10px;
}

.gallery img {
	width: 100%;
	height: 413px;
}



#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 35px;
	font-size: 1.2em;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer ul {
    margin-right: 80px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 60px;
	margin-bottom: 0;
	padding-bottom: 0;
}

footer li {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
	line-height: 16px;
}

footer li a {
	text-decoration: none;
}

.edition {
	margin-top: 0;
	margin-bottom: 0;
}

.edition div {
	display:flex ;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px 0;
	color: white;
	gap: 15px;
	font-size: 16px;
}

.edition #changement {
	display: flex;
	align-items: center;
    height: 30px;
    border-radius: 50px;
    border: none;
	color: #000000;
	background-color: white;
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
	
    margin-left: 10px;
}

.edition i:hover,
.edition p:hover,
.edition #changement:hover {
	cursor: pointer;
}

.modification i {
	padding-right: 5px;
}

.modification {
	padding-top: 10px;
	display: flex;
}

.modification:hover {
	cursor: pointer;
}



